/**** Base styles ****/

* {
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
  font-family: 'Verdana', sans-serif;
  font-size: 11pt;
  line-height: 1.3em;
  background: #333;
  color: #FFF;
}

section, nav, header, footer {
  display: block;
}


p {
  margin-top: 1ex;
}

h1, h2, h3, h4, .tagline {
  font-family: 'Kreon', 'Georgia', serif;
}

h1 {
  font-size: 30pt;
  line-height: 1.5em;
  color: #ccf;
  font-weight: normal;
}

h2 {
  font-size: 18pt;
  line-height: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.3em;
  color: #afa;
  font-weight: normal;
}

li h2 {
  margin-top: 0;
}

h3 {
  font-size: 16pt;
  line-height: 1em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  color: #ffa;
  font-weight: normal;
}

h4 {
  font-size: 12pt;
  line-height: 1.1em;
}

.tagline {
  margin-top: -1ex;
  margin-bottom: 1ex;
}

ul, ol {
  margin-left: 1.5em;
}


a,
a code {
  color: #ccf;
  text-decoration: none;
}

a:hover,
a:hover code { 
  text-shadow:
    0px 0px 2px white,
    0px 0px 2px white;
}

a:active,
a:active code {
  color: #1FB;
  background: black;
}

a img { border: none; }

#main {
  margin: 1em;
  padding: 1em;
  padding-top: 0.5em;
  width: 50em;
  -webkit-border-radius: 0.8em;
     -moz-border-radius: 0.8em;
          border-radius: 0.8em;
  background: #000;
}

pre {
  margin: 1em;
  font-size: 13pt;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.breadcrumbs {
    margin: 0;
}
.breadcrumbs li {
    display: inline;
    font-family: "Kreon", "Georgia", serif;
    font-size: 18pt;
}
.breadcrumbs li a {
    color: #ccf;
}

#super-list li.blog {
  width: 460px;
}
#super-list li.research {
  width: 460px;
}
#super-list li.about {
  width: 710px;
}

li h4 a {
  color: #eee;
}

li.blog h2 a {
  color: #afa;
}
li.music h2 a {
  color: #e6d;
}
li.project h2 a {
  color: #ffa;
}
li.research h2 a {
  color: #fcc;
}
li.fun h2 a {
  color: #fa5;
}
li.puzzle h2 a {
  color: #cff;
}

/**** Isotope styles ****/

/* required for containers to inherit vertical size from window */
html,
body {
  height: 100%;
}

/*
#container {
  border: 1px solid #666;
  padding: 5px;
  margin-bottom: 20px;
}
*/

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
/*     -o-transition-duration: 0.8s;*/
          transition-duration: 0.8s;

}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
/*     -o-transition-property: height, width;*/
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
/*     -o-transition-property:      -o-transform, opacity;*/
          transition-property:         transform, opacity;
}

.isotope.no-transition,
.isotope.no-transition .isotope-item {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
/*     -o-transition-duration: 0s;*/
          transition-duration: 0s;
}



/**** Super list ****/

#super-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

#super-list li {
  display: inline-block;
  float: left;
  margin: 2px;
  margin-bottom: 1ex;
  padding: 1em;
  padding-bottom: 1ex;
  font-weight: 300;
  -webkit-border-radius: 0.8em;
     -moz-border-radius: 0.8em;
          border-radius: 0.8em;
  background: #000;
  width: 210px;
}


/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after { clear: both; }
/* fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }


